@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

strong,
b {
  font-weight: 500 !important;
}
